.tech{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    p{
        padding: 4px 10px;
        border-radius: 4px;
        color: white;
    }
    @media (min-width: 768px) {
        gap: 16px;
        p {
            padding: 4px 0px;
        }
    }
}