@mixin theme($secondary-color, $text-color, $accent, $primary-color, $aside-bg) {
    height: 100lvh;
    overflow-y: auto;
    background-color: $secondary-color;
    color: $text-color;
    transition: background-color 0.5s, color 0.5s;

    header {
        transition: background-color 0.5s;
        background-color: $secondary-color;
    }

    .dark-mode-toggle-wrapper .circle {
        background-color: $primary-color;
        transition: background-color 0.5s;
    }

    .side-left,
    .side-right {
        background-color: $aside-bg;
    }

    .icon {
        color: $primary-color;
    }

    .sidebar-wrapper {
        .side-content-wrapper {
            .icon {
                color: white;
            }
        }
    }

    .nav-links {
        .link {
            color: white;

            @media (min-width:768px) {
                color: $text-color;
                transition: color 0.5s;

                &.active {
                    color: $primary-color;
                    transition: color 0.1s;
                }
            }
        }

    }


    .loading {
        color: $primary-color;

        .bounce {
            background-color: $primary-color;
        }

        .circle {
            border-top: 5px solid $primary-color;
        }
    }

    .btn-primary {
        background-color: $primary-color;
        color: white;
        transition: background-color 0.5s, color 0.5s;
        cursor: pointer;
    }

    .marker {
        color: $primary-color;
        transition: color 0.5s;
        font-weight: bold;
    }

    .page-home .projects {
        background-color: $secondary-color;
        color: $text-color;
        transition: background-color 0.5s, color 0.5s;
    }

    .time-line {
        background-color: $primary-color;
        transition: background-color 0.5s;
    }

    .work .work-item .indicator {
        background-color: $primary-color;
        transition: background-color 0.5s;
    }

    .tech p {
        background-color: $primary-color;
        transition: background-color 0.5s;
    }

    .experience .work .work-item .description {
        .date {
            color: rgb(127, 127, 127)
        }
    }

    .project-item {
        .content-wrapper {
            &::before {
                background: $primary-color
            }
        }

        .content {
            h2 {
                color: $primary-color;

            }
        }

        @media (min-width: 768px) {
            .content-wrapper {

                &::before {
                    background: none
                }
            }

            .content {
                h2 {
                    color: white;
                }

                .icon {
                    color: white;
                }

                color: white;

                .text {
                    background-color: $primary-color;
                    transition: background-color 0.5s;
                }

            }
        }
    }
}