$transition-time: 0.5s;

// Tema claro
$primary-color: #3F72AF; 
$secondary-color: #F9F7F7;
$text: #112D4E; 
$aside-bg: #19416f;
$accent: #a3bcd9; 

// Tema oscuro
$dark-primary-color: #00ADB5;
$dark-secondary-color: #222831;
$dark-text: #EEEEEE;
$dark-aside-bg: #393E46;
$dark-accent: #00ADB5;