@use '../abstracts/animations';

.pages {
    display: flex;
    justify-self: center;
    width: 100%;
    padding: 10px 20px;
    animation: fade-in 1s forwards;

    @media (min-width:768px) {
        max-width: 1024px;
    }
}