
ul {
    list-style: none;
}

.icon {
    font-size: 32px;
}
header {
    position: sticky;
    display: flex;
    justify-content: center;
    z-index: 5;
    top: 0;
    width: 100%;
}
img{
    width: 100%;
}